.contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 103px;
  padding-right: 103px;
  margin-bottom: 120px;

  @media (min-width: $beyond-desktop-width) {
    max-width: $desktop-max-width;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px;
  }
}

.contacts__text-wrapper {
  order: 1;
  width: 50%;
  box-sizing: border-box;
  padding-left: 80px;
  margin-top: 73px;

  @media (max-width: $tablet-max-width) {
    padding-left: 15px;
    margin-top: 63px;
  }

  @media (max-width: $mobile-max-width) {
    order: 0;
    width: auto;
    padding-left: 0;
    margin-top: 0;
  }
}

.contacts__map-wrapper {
  width: 50%;
  height: 306px;
  box-sizing: border-box;
  padding-right: 20px;

  @media (max-width: $tablet-max-width) {
    height: 335px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-max-width) {
    width: auto;
    padding-right: 0;
    margin-top: 38px;
  }
}

.contacts__map {
  width: 560px;
  height: 306px;
  object-fit: cover;

  @media (max-width: $tablet-min-width) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile-max-width) {
    width: 290px;
    height: 316px;
  }
}

.contacts__intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 32px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 28px;
  }
}

.contacts__address {
  position: relative;
  padding-left: 27px;
  margin: 0;
  margin-bottom: 21px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
    width: 18px;
    height: 22px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      top: 5px;
    }
  }
}

.contacts__tel {
  position: relative;
  padding-left: 27px;
  margin: 0;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      background-color: rgba($basic-dark, 0.2);
    }
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
