.cruises {
  margin-bottom: 70px;
  padding-left: 118px;
  padding-right: 118px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.cruises__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    font-size: 26px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
    margin-bottom: 35px;
  }
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $beyond-desktop-width) {
    max-width: $desktop-max-width;
    margin: 0 auto;
  }

  @media (max-width: 619px) {
    flex-direction: column;
    align-items: center;
  }
}

.cruises__item {
  margin-bottom: 30px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  @media (max-width: 1365px) {
    &:not(:nth-child(4n)) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }

  @media (max-width: 1075px) {
    &:not(:nth-child(3n)) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media (max-width: 619px) {
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
