.cruise {
  position: relative;
}

.cruise__text-wrapper {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 30px 25px;
  padding-top: 55px;
  padding-bottom: 14px;
  background-color: $basic-dark;
  color: $basic-light;
  width: 260px;
  min-height: 386px;

  @media (max-width: $tablet-max-width) {
    padding-left: 35px;
    padding-right: 35px;
    width: 309px;
  }
  @media (max-width: $mobile-max-width) {
    padding-left: 25px;
    padding-right: 25px;
    width: 270px;
  }
}

.cruise__title {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 30px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  // z-index: 2;
  color: $basic-light;
}

.cruise__description {
  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  dd {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 15px;
  }
}

.cruise__book-button {
  display: block;
  text-decoration: none;
  color: $basic-dark;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: $basic-light;
  width: 210px;
  z-index: 1;

  @media (max-width: $tablet-max-width) {
    width: 239px;
  }

  @media (max-width: $mobile-max-width) {
    width: 220px;
  }

}


.cruise__photo-wrapper {
  width: 260px;
  height: 386px;

  @media (max-width: $tablet-max-width) {
    width: 309px;
  }

  @media (max-width: $mobile-max-width) {
    width: 270px;
  }
}

.cruise__photo {
  width: 260px;
  height: 386px;
  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    width: 309px;
  }

  @media (max-width: $mobile-max-width) {
    width: 270px;
  }
}

.cruise:hover .cruise__photo-wrapper,
.cruise:focus-within .cruise__photo-wrapper {
  display: none;
}

.cruise:hover .cruise__text-wrapper,
.cruise:focus-within .cruise__text-wrapper {
  display: flex;
}

.cruise:hover .cruise__book-button:hover,
.cruise:hover .cruise__book-button:focus {
  opacity: 0.8;
  cursor: default;
}

.cruise:hover .cruise__book-button:active {
  opacity: 0.5;
  cursor: default;
}

.cruise:hover .cruise__title {
  bottom: none;
  top: 25px;
  left: 25px;

  @media (max-width: $tablet-max-width) {
    left: 35px;
  }

  @media (max-width: $mobile-max-width) {
    left: 25px;
  }
}

.cruise:nth-child(2) .cruise__text-wrapper {
  display: flex;
}

.cruise:nth-child(2) .cruise__photo-wrapper {
  display: none;
}

.cruise:nth-child(2) .cruise__title {
  bottom: none;
  top: 25px;
  left: 25px;

  @media (max-width: $tablet-max-width) {
    left: 35px;
  }

  @media (max-width: $mobile-max-width) {
    left: 25px;
  }
}
