.cruise__text-wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 35px 25px;
  background-color: $basic-dark;
  color: $basic-light;
  width: 260px;
  min-height: 386px;
}

.cruise__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  // margin-bottom: 20px;
}

.cruise__description {
  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  dd {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 10px;
  }
}

.cruise__book-button {
  display: block;
  text-decoration: none;
  color: $basic-dark;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 15px;
  background-color: $basic-light;
  width: 210px;
}


.cruise__photo-wrapper {
  width: 260px;
  height: 386px;
}

.cruise__photo {
  height: 386px;
  object-fit: cover;
}

.cruise:hover .cruise__photo-wrapper,
.cruise:focus-within .cruise__photo-wrapper {
  display: none;
}

.cruise:hover .cruise__text-wrapper,
.cruise:focus-within .cruise__text-wrapper {
  display: flex;
}
