.early-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 555px;
  background-image: url("../img/bg-early-booking-desktop.jpg");
  background-size: cover;
  background-color: #81b3d2;
  margin-bottom: 120px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-early-booking-desktop@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    min-height: 805px;
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-max-width) {
      background-image: url("../img/bg-early-booking-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-early-booking-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-min-width) {
    background-image: url("../img/bg-early-booking-mobile.jpg");
    min-height: 760px;
    margin-bottom: 65px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-early-booking-mobile@2x.jpg");
    }
  }
}

.early-booking__inner {
  display: flex;
  align-items: center;
  padding-left: 163px;
  padding-right: 163px;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.early-booking__intro-inner {
  padding-right: 20px;

  @media (max-width: $tablet-max-width) {
    padding-right: 0;
    margin-bottom: 60px;
    width: 420px;
  }
}

.early-booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin: 0;

  @media (max-width: $tablet-max-width) {
    font-size: 34px;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
    line-height: 130%;
  }
}

.early-booking__intro {
  font-size: 18px;
  line-height: 150%;
  margin: 0;

  @media (max-width: $tablet-max-width) {
    text-align: center;
  }
}

.early-booking__form {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 403px;
  background-color: $basic-dark;
  color: $basic-light;
}

.early-booking__form-inner {
  display: flex;
  flex-direction: column;
  // width: 303px;
  padding: 50px;

  @media (max-width: $mobile-menu-max-width) {
    padding: 40px 30px;
  }
}

.early-booking__form-intro {
  margin: 0;
  margin-bottom: 30px;
  width: 303px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @media (max-width: $mobile-menu-max-width) {
    width: 230px;
    line-height: 25.2px;
    text-align: center;
  }
}
