.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  color: $basic-light;
}

.main-nav__item a {
  text-decoration: none;
  font-weight: 500;
  line-height: 150%;

  @media (max-width: $tablet-max-width) {
    font-size: 14px;
    line-height: 17px;
  }
}

.main-nav__item + .main-nav__item {
  margin-left: 33px;

  @media (max-width: $tablet-max-width) {
    margin-left: 23px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 15px;
  }
}

.main-nav__item--footer + .main-nav__item--footer {
  @media (max-width: $mobile-max-width) {
    margin-left: 0;
    margin-top: 17px;
  }
}

.main-nav__item--footer a {
  @media (max-width: $tablet-max-width) {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: $mobile-menu-max-width) {
  .main-nav__toggle-icon {
    display: block;
    width: 24px;
    height: 13px;
    z-index: 1;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 22px;
  }
}

.main-nav__item--footer a {
  @media (max-width: $mobile-max-width) {
    font-size: 12px;
    line-height: 15px;
  }
}
